@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CDR Worship</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon.ico" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Google Icons -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css" asp-asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/table.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/attachment.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/card.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/logIn.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/signup.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/assets/css/themes.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>

<body class="@ViewData["BodyClass"]">

    <header>


        <div class="navbar-custom">
            <div class="logo">
                <a asp-controller="Home" asp-action="Index">
                    <img src="@Url.Content("~/assets/img/CDRLogo.png")" alt="Logo" />
                </a>
            </div>
            <ul class="links">
                @if (User.Identity!.IsAuthenticated)
                {
                    <li>
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" title="Home">Home</a>
                    </li>
                    <li>
                        <a class="nav-link" asp-area="" asp-controller="SongDocuments" asp-action="Index">Cantantes</a>
                    </li>
                    <li>
                        <a class="nav-link" asp-area="" asp-controller="ChordDocuments" asp-action="Index">Acordes</a>
                    </li>
                    <li>
                        <a class="nav-link" asp-area="" asp-controller="ScheduledSongs" asp-action="Index">Agenda</a>
                    </li>
                }
                else
                {
                    <partial name="_LoginPartial" />
                }

                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item dropdown custom-dropdown">
                        @if (User.Identity!.IsAuthenticated)
                        {
                            var user = await UserManager.GetUserAsync(User);
                            <a style="color: inherit; text-decoration: none;" class="nav-link dropdown-toggle d-flex align-items-center custom-dropdown-toggle " href="#"
                                id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="material-symbols-outlined">
                                    emoji_people
                                </span>
                                <span class="ms-2">@user?.FirstName</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end custom-dropdown-menu" aria-labelledby="userDropdown">
                                <li class="dropdown-header custom-dropdown-header">
                                    <div class="d-flex align-items-center p-3">
                                        <i class="bi bi-person-circle custom-icon me-3"></i>
                                        <div>
                                            <h5 class="mb-0">@user?.FirstName @user?.LastName</h5>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <hr class="dropdown-divider custom-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item custom-dropdown-item" href="#">
                                        <i class="bi bi-person custom-icon me-2"></i>Mi Perfil
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider custom-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item custom-dropdown-item" asp-area="Identity"
                                        asp-page="/Account/Manage/Index">
                                        <i class="bi bi-gear custom-icon me-2"></i>Configuración de la Cuenta
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider custom-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item custom-dropdown-item" asp-area="Identity" asp-page="/Account/Logout"
                                        asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <i class="bi bi-box-arrow-left custom-icon me-2"></i>Cerrar Sesión
                                    </a>
                                </li>
                            </ul>
                        }
                    </li>
                }

            </ul>

            <div class="toggle_btn">
                <i class="fa-regular fa-bars"></i>
            </div>
        </div>

    </header>

    <div class="">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="py-2 mt-auto">
        <div class="container-xxl text-center">
            <span class="build-by-text text-dark">Creado por</span>
            <span class="build-by-text text-dark">Gelson Hernandez</span>
            <br />
            <span class="build-by-text text-dark">&copy; 2024 - CDR Worship -</span>
            <br />
            <img src="~/assets/img/CDRLogo.png" alt="Logo" style="height: 50px; width: auto;" />
        </div>
    </footer>


   <!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<!-- jQuery Validate -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

<!-- Custom JS -->
<script src="~/js/site.js" asp-append-version="true"></script>

<!-- PDF.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
    <!-- Otros scripts aquí -->

    @* <script>
    document.addEventListener('DOMContentLoaded', function () {
    // Inicializar tooltip en Tabla
    if ($.fn.tooltip) {
    $('[data-toggle="tooltip"]').tooltip();
    }

    // Comprobar si el selector de fila y la tabla están presentes antes de manipularlos
    const rowCountSelect = document.getElementById('rowCount');
    const tableBody = document.getElementById('songTableBody');
    if (rowCountSelect && tableBody) {
    const allRows = Array.from(tableBody.getElementsByTagName('tr'));

    function updateTable() {
    const rowCount = parseInt(rowCountSelect.value);
    allRows.forEach((row, index) => {
    row.style.display = index < rowCount ? '' : 'none';
    });
    }

    rowCountSelect.addEventListener('change', updateTable);
    updateTable();
    }

    // Añadir funcionalidad de búsqueda a la tabla
    const searchInput = document.getElementById('searchInput');
    if (searchInput && tableBody) {
    searchInput.addEventListener('keyup', function () {
    const value = searchInput.value.toLowerCase();
    Array.from(tableBody.getElementsByTagName('tr')).forEach(function (row) {
    row.style.display = row.textContent.toLowerCase().includes(value) ? '' : 'none';
    });
    });
    }
    });
    </script> *@

    <script>
        $(document).ready(function () {
            // Inicializar tooltip en Tabla
            if ($.fn.tooltip) {
                $('[data-toggle="tooltip"]').tooltip();
            }

            // Comprobar si el selector de fila y la tabla están presentes antes de manipularlos
            const rowCountSelect = $('#rowCount');
            const tableBody = $('#songTableBody');
            if (rowCountSelect.length && tableBody.length) {
                const allRows = tableBody.find('tr');

                function updateTable() {
                    const rowCount = parseInt(rowCountSelect.val());
                    allRows.each(function (index, row) {
                        $(row).toggle(index < rowCount);
                    });
                }

                rowCountSelect.on('change', updateTable);
                updateTable();
            }

            // Añadir funcionalidad de búsqueda a la tabla
            const searchInput = $('#searchInput');
            if (searchInput.length && tableBody.length) {
                searchInput.on('keyup', function () {
                    const value = searchInput.val().toLowerCase();
                    tableBody.find('tr').each(function () {
                        const row = $(this);
                        row.toggle(row.text().toLowerCase().includes(value));
                    });
                });
            }
        });
    </script>


    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
