@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] CDR Worship</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/assets/css/style.css" asp-asp-append-version="true" /> *@
    @* <link rel="stylesheet" href="~/CDR_Worship.styles.css" asp-append-version="true" /> *@
</head>

<style>
    /* Form Styles */
    .form-floating .form-control {
        border-radius: 0.5rem;
        height: 3.5rem;
        /* Ajusta la altura del campo para que el label grande se vea mejor */
    }

    /* Cambiar el estilo del label cuando no está enfocado */
    .form-floating label {
        font-size: 1.2rem;
        /* Tamaño inicial más grande */
        color: #6c757d;
        text-align: center;
        transform-origin: left top;
        transition: all 0.3s ease;
    }

    /* Cambiar el estilo del label cuando el campo está enfocado o lleno */
    .form-floating .form-control:focus+label,
    .form-floating .form-control:not(:placeholder-shown)+label {
        font-size: 0.875rem;
        /* Reducir el tamaño al hacer clic */
        transform: translateY(-1.5rem);
        /* Mover hacia arriba */
        color: #007bff;
        text-align: left;
        /* Cambia a alineación izquierda cuando está en la parte superior */
    }

    /* Agregar estilos para el campo de entrada cuando está enfocado */
    .form-control:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
    }

    /* Fondo general */
    body {
        background: linear-gradient(135deg, #f8f9fa, hsla(0, 2%, 60%, 0.8), #e3f2fd);
    }
</style>



<body class="d-flex align-items-center justify-content-center vh-100 ">

    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="card box-shadow" style="max-width: 400px; width: 100%;">
            <div class="card-body p-5">
                <h1 class="text-center mb-5" style="font-weight: 700; font-size: 1.8rem;">@ViewData["Title"]</h1>


                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

                    <div class="form-floating mb-4">
                        <input asp-for="Input.Email" class="form-control rounded-3" autocomplete="username"
                            aria-required="true" placeholder="nombre@ejemplo.com" />
                        <label asp-for="Input.Email" class="form-label">Correo Electrónico</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-4">
                        <input asp-for="Input.Password" type="password" class="form-control rounded-3"
                            autocomplete="current-password" aria-required="true" placeholder="contraseña" />
                        <label asp-for="Input.Password" class="form-label">Contraseña</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="form-check mb-4">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        <label asp-for="Input.RememberMe" class="form-check-label">
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>

                    <button type="submit" class="btn btn-color btn-primary btn-lg w-100 mb-3">Iniciar Sesión</button>
                    <button type="button" class="btn btn-color btn-danger btn-lg w-100 mb-3"
                        onclick="window.location.href='@Url.Action("Index", "Home")'">Cancelar</button>
                </form>

                <form id="demoLogin" method="post">
                    @* <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div> *@

                    <button class="btn btn-color btn-outline-secondary btn-lg w-100 mb-4" type="submit"
                        name="demoLoginEmail" value="DemoLoginEmail">Demo Login</button>
                </form>

                <div class="auth-links text-center">
                    <a id="forgot-password" asp-page="./ForgotPassword"
                        class="d-block mb-3 text-decoration-none">&#191;Olvidaste tu contraseña?</a>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"
                        class="d-block mb-3 text-decoration-none">Regístrate como nuevo usuario</a>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation"
                        class="d-block text-decoration-none">Reenviar confirmación de correo</a>
                </div>


            </div>
        </div>
    </div>

    <!-- Incluir jQuery primero -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Incluir Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!-- Incluir los plugins de validación después de jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>


    @await Html.PartialAsync("_ValidationScriptsPartial")
</body>

</html>
