@model IEnumerable<CDR_Worship.Models.ScheduledSong>

@{
    ViewData["Title"] = "Index";
}

<style>
    .text-muted {
        font-size: 0.875rem;
        color: #6c757d;
    }

    .info-section {
        padding: 20px;
    }
</style>


<div class="container my-5">
    <div class="row">
        @if (!Model.Any())
        {
            @* No Hay Listas *@
            <div class="col-12 text-center my-5">
                <div class="no-lista-container box-shadow p-4 mx-auto">
                    <h5 class="mb-3">No hay lista disponibles</h5>
                    @if (User.Identity!.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Moderator")))
                    {
                        <a asp-action="Create" class="btn btn-primary btn-color px-5 py-2">Añadir Nueva Lista</a>
                    }
                </div>
            </div>
        }
        else
        {
            @* Sección de información sobre la tabla *@
            <div class="info-section mb-5">
                <h4 class="text-center">Bienvenido a las Lista de Canciones</h4>
                <p class="text-center">
                    Aquí puedes visualizar todas las lista de canciones para los próximos eventos.
                    Mantente al tanto de las fechas y detalles para estar siempre preparado.
                </p>
            </div>
            @foreach (var song in Model)
            {
                <div class="col-md-4 my-3">
                    <div class="card box-shadow h-100">
                        <div class="card-body p-4 d-flex flex-column justify-content-between">
                            <div>
                                <h5 class="card-title text-center mb-3">@song.Name</h5>

                                <div class="d-flex align-items-center justify-content-between text-muted mb-2">
                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-person me-2 text-primary"></i>
                                        <span><strong>Cantante:</strong> @song.LeadSinger?.MemberName</span>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center justify-content-between text-muted">
                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-calendar3 me-2 text-primary"></i>
                                        <span><strong>Fecha:</strong> @song.StartDate.ToString("MM/dd/yyyy")</span>
                                    </div>
                                </div>
                            </div>

                            @if (User.Identity!.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Moderator") ||
                           User.IsInRole("DemoUser")))
                            {
                                <div class="d-flex justify-content-around mt-4">
                                    <a asp-action="Edit" asp-route-id="@song.Id" class="btn btn-color btn-primary btn-sm me-2"
                                        data-bs-toggle="tooltip" title="Editar">
                                        <i class="bi bi-pencil"></i> Editar
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@song.Id" class="btn btn-color btn-danger btn-sm"
                                        data-bs-toggle="tooltip" title="Eliminar">
                                        <i class="bi bi-trash"></i> Eliminar
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>

    @if (User.Identity!.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Moderator")) && Model.Any())
    {
        <div class="text-center my-4">
            <a asp-action="Create" class="btn btn-color btn-primary">Agregar Nueva Programación</a>
        </div>
    }
</div>


<!-- Modal 3 -->
<div class="modal fade" id="adviceModal3" tabindex="-1" aria-labelledby="adviceModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adviceModalLabel3">¡RECUERDEN!</h5>
            </div>
            <div class="modal-body text-center">
                <p><strong>Consejos para la práctica:</strong></p>
                <ul class="list-unstyled">
                    <li>- Practicar y estudiar las canciones en casa.</li>
                    <li>- Buscar tutoriales para mejorar en los detalles de cada instrumento.</li>
                    <li>- Estar listos para cambios de tono en las canciones según las voces.</li>
                </ul>
                <p><em>Sigamos creciendo en excelencia para Dios en la música y en todo lo que hagamos.</em></p>
                <p><strong>Gracias por su dedicación y esfuerzo. Son una gran bendición para Casa del Rey.</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-color btn-outline-secondary"
                    data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

<!-- Advice Modal Script -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Verificar si el modal ya se ha mostrado usando sessionStorage
        if (!sessionStorage.getItem('modal3Shown')) {
            // Agregar un retraso antes de mostrar el modal (3 segundos)
            setTimeout(function () {
                var adviceModal3 = new bootstrap.Modal(document.getElementById('adviceModal3'));

                // Mostrar el modal
                adviceModal3.show();

                // Guardar en sessionStorage que el modal ya se mostró
                sessionStorage.setItem('modal3Shown', 'true');
            }, 3000); // 3000 milisegundos = 3 segundos de retraso
        }
    });
</script>
}