@model IEnumerable<CDR_Worship.Models.ScheduledSong>

@{
    ViewData["Title"] = "Index";
}

<style>
    .card {
        border-radius: 1rem;
        background-color: #ffffff;
        transition: transform 0.3s ease;
    }

    .card:hover {
        transform: scale(1.03);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    }

    .card .card-body {
        padding: 2rem;
    }

    /* Estilos adicionales para una tarjeta limpia */
    .card-title {
        font-size: 1.25rem;
    }

    .text-muted {
        font-size: 0.875rem;
    }

    /* Shadow and Border Radius */
    .shadow-lg {
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    }

    .border-0 {
        border: none;
    }

    .rounded-lg {
        border-radius: 1rem;
    }
</style>


<div class="container-xxl">
    <div class="row">
        @if (!Model.Any())
        {
            <div class="col-12 text-center my-5">
                <div class="alert alert-info">
                    <h4 class="alert-heading">¡No hay Programaciones!</h4>
                    <p>Actualmente no hay programaciones disponibles. Puedes agregar una nueva programacion.</p>
                    @if (User.Identity!.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Moderator")))
                    {
                        <a asp-action="Create" class="btn btn-color btn-primary">Agregar Nueva Programación</a>
                    }
                </div>
            </div>

        }
        else
        {

            <div class="col-12 text-center my-5">
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-circle fs-3 me-2" aria-hidden="true"></i>

                    <h4 class="alert-heading">¡RECUERDEN!</h4>
                    <p>
                        <strong>Consejos para la práctica:</strong><br />
                    <ul class="list-unstyled">
                        <li>- Debemos practicar y estudiar las canciones en casa.</li>
                        <li>- Debemos buscar tutoriales para fortalecernos más en los detalles de cada instrumento.</li>
                        <li>- Debemos siempre estar listos en caso de que una canción se cambie de tono para acomodarla a
                            nuestras voces.</li>
                    </ul>
                    <em>Sigamos hacia adelante aumentando cada día más nuestra excelencia para Dios, no solo en la música
                        sino en todo lo que hagamos.</em>
                    <br /><br />
                    Gracias mil por el tiempo, dedicación y trabajo que hacen para Dios. Ustedes todos son una gran
                    bendición para mí y para Casa del Rey.
                    </p>

                </div>
            </div>

            @foreach (var song in Model)
            {
                <div class="col-md-4 my-3">
                    <div class="card shadow-lg border-0 rounded-lg">
                        <div class="card-body bg-light p-4">
                            <!-- Título de la canción -->
                            <h5 class="media-title card-title text-primary border-bottom pb-2 mb-3 fw-bold">@song.Name</h5>

                            <!-- Información del cantante -->
                            <div class="d-flex align-items-center mb-2 text-muted">
                                <i class="bi bi-person me-2 text-primary"></i>
                                <span><strong>Cantante:</strong> @song.LeadSinger?.MemberName</span>
                            </div>

                            <!-- Fecha de inicio -->
                            <div class="d-flex align-items-center text-muted">
                                <i class="bi bi-calendar3 me-2 text-primary"></i>
                                <span><strong>Fecha:</strong> @song.StartDate.ToString("MM/dd/yyyy")</span>
                            </div>

                            @* <Botones de acciones para roles específicos *@
                            @if (User.Identity!.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Moderator") ||
                           User.IsInRole("DemoUser")))
                            {
                                <div class="d-flex justify-content-center mt-4">
                                    <a asp-action="Edit" asp-route-id="@song.Id" class="btn btn-color btn-primary me-2"
                                        data-bs-toggle="tooltip" title="Editar">
                                        <i class="bi bi-pencil"></i> Editar
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@song.Id" class="btn btn-color btn-danger"
                                        data-bs-toggle="tooltip" title="Eliminar">
                                        <i class="bi bi-trash"></i> Eliminar
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>

    @if (User.Identity!.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Moderator")) && Model.Any())
    {
        <div class="text-center my-4">
            <a asp-action="Create" class="btn btn-color btn-primary">Agregar Nueva Programación</a>
        </div>
    }
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
