@model IEnumerable<CDR_Worship.Models.ScheduledSong>

@{
    ViewData["Title"] = "Index";
}

<style>
    .card {
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* Sombra suave */
    }

    .custom-margin {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }
</style>


<div class="container custom-margin">
    <h2 class="text-center display-1 mb-5">Programación</h2>

    <div class="row">
        @foreach (var song in Model)
        {
            <div class="col-lg-4 my-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@song.Name</h5>
                        <p class="card-text">
                            <strong>Cantante Principal:</strong> @song.LeadSinger?.MemberName<br />
                            <strong>Fecha:</strong> @song.StartDate.ToString("MM/dd/yyyy")
                        </p>
                        @if (User.Identity!.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Moderator")))
                        {
                            <div class="text-center">
                                <a asp-action="Edit" asp-route-id="@song.Id" class="btn btn-primary me-2" data-toggle="tooltip"
                                    title="Editar">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a asp-action="Delete" asp-route-id="@song.Id" class="btn btn-danger" data-toggle="tooltip"
                                    title="Eliminar">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    @if (User.Identity!.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Moderator")))
    {
        <div class="mt-3">
            <a asp-action="Create" class="btn btn-info">Agregar Nueva Programación</a>
        </div>
    }
</div>
