@model IEnumerable<CDR_Worship.Models.ScheduledSong>

@using CDR_Worship.Models


@{
    ViewData["Title"] = "Index";
}

<style>
    /* Estilos para la lista */
    .lista-moderna {
        list-style-type: none; /* Elimina los puntos de viñeta */
        padding: 0;
        margin: 0;
    }

        .lista-moderna li {
            background-color: #f2f2f2; /* Color de fondo para cada elemento */
            margin: 10px 0; /* Espaciado entre elementos */
            padding: 10px; /* Espaciado interno para cada elemento */
            border-left: 5px solid #009688; /* Borde izquierdo colorido */
            transition: transform 0.3s ease; /* Transición suave para el hover */
        }

            .lista-moderna li:hover {
                transform: translateX(10px); /* Desplaza el elemento hacia la derecha al pasar el mouse */
            }
</style>

<section id="list" class="section-page">
    <div class="container-xxl">
        <div class="row">
            <div class="col">
                <h2 class="text-center display-1 my-5">Programacion del Domingo</h2>
            </div>

            <p>
                <a asp-action="Create" class="btn btn-success">Agregar Nueva Programacion</a>
            </p>

            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nombre de la Canción</th>                     
                        <th>Cantante Principal</th>
                        <th>Corista</th>
                        <th>Corista 2</th>
                        <th>Guitarra 1</th>
                        <th>Guitarra 2</th>
                        <th>Bajista</th>
                        <th>Baterista</th>
                        <th>Fecha</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var song in Model)
                    {
                        <tr>
                            <td>@song.Name</td>
                            <td>@song.LeadSinger?.MemberName</td>
                            <td>@song.BackingVocalist?.MemberName</td>
                            <td>@song.BackingVocalistTwo?.MemberName</td>
                            <td>@song.LeadGuitarist?.MemberName</td>
                            <td>@song.SecondGuitarist?.MemberName</td>
                            <td>@song.Bassist?.MemberName</td>
                            <td>@song.Drummer?.MemberName</td>
                            <td>@song.StartDate.ToString("dd/MM/yyyy")</td>
                            <td>

                                @if (User.Identity!.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Moderator")))
                                {
                                    <a asp-action="Edit" asp-route-id="@song.Id" data-toggle="tooltip" title="Editar" class="mx-2 text-decoration-none">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@song.Id" data-toggle="tooltip" title="Eliminar" class="mt-2 text-decoration-none">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
   
@*     <div class="col-md-12 col-lg-4 d-flex align-items-stretch">
        <div class="card w-100">
            <h5 class="card-title p-3 card-header mb-0">Recent Chat</h5>
            <div class="card-body">
                <div class="chat-box scrollable" style="height: 434px">
                    <!--chat Row -->
                    <ul class="chat-list m-0 p-0">
                        <!--chat Row -->
                        <li class="mt-4">
                            <div class="chat-img d-inline-block align-top">
                                <img src="../../assets/images/users/1.jpg"
                                     alt="user"
                                     class="rounded-circle" />
                            </div>
                            <div class="chat-content ps-3 d-inline-block">
                                <h5 class="text-muted fs-3 fw-normal">
                                    James Anderson
                                </h5>
                                <div class="
                              message
                              fs-3
                              bg-primary
                              text-white
                              d-inline-block
                              mb-2
                              fw-normal
                              shadow
                            ">
                                    Lorem Ipsum is simply dummy text of the printing &
                                    type setting industry.
                                </div>
                            </div>
                            <div class="
                            chat-time
                            d-inline-block
                            text-end
                            fs-2
                            font-weight-medium
                          ">
                                10:56 am
                            </div>
                        </li>
                        <!--chat Row -->
                        <li class="mt-4">
                            <div class="chat-img d-inline-block align-top">
                                <img src="../../assets/images/users/2.jpg"
                                     alt="user"
                                     class="rounded-circle" />
                            </div>
                            <div class="chat-content ps-3 d-inline-block">
                                <h5 class="text-muted fs-3 fw-normal">Bianca Doe</h5>
                                <div class="
                              message
                              fs-3
                              bg-primary
                              text-white
                              d-inline-block
                              mb-2
                              fw-normal
                              shadow
                            ">
                                    It’s Great opportunity to work.
                                </div>
                            </div>
                            <div class="
                            chat-time
                            d-inline-block
                            text-end
                            fs-2
                            font-weight-medium
                          ">
                                10:57 am
                            </div>
                        </li>
                        <!--chat Row -->
                        <li class="odd mt-4">
                            <div class="chat-content ps-3 d-inline-block text-end">
                                <div class="
                              message
                              fs-3
                              bg-light-inverse
                              d-inline-block
                              mb-2
                              font-weight-medium
                            ">
                                    I would love to join the team.
                                </div>
                                <br />
                            </div>
                            <div class="
                            chat-time
                            d-inline-block
                            text-end
                            fs-2
                            font-weight-medium
                          ">
                                10:58 am
                            </div>
                        </li>
                        <!--chat Row -->
                        <li class="odd mt-4">
                            <div class="chat-content ps-3 d-inline-block text-end">
                                <div class="
                              message
                              fs-3
                              bg-light-inverse
                              d-inline-block
                              mb-2
                              font-weight-medium
                            ">
                                    Whats budget of the ample admin project.
                                </div>
                                <br />
                            </div>
                            <div class="
                            chat-time
                            d-inline-block
                            text-end
                            fs-2
                            font-weight-medium
                          ">
                                10:59 am
                            </div>
                        </li>
                        <!--chat Row -->
                        <li class="mt-4">
                            <div class="chat-img d-inline-block align-top">
                                <img src="../../assets/images/users/3.jpg"
                                     alt="user"
                                     class="rounded-circle" />
                            </div>
                            <div class="chat-content ps-3 d-inline-block">
                                <h5 class="text-muted fs-3 fw-normal">
                                    Angelina Rhodes
                                </h5>
                                <div class="
                              message
                              fs-3
                              bg-primary
                              text-white
                              d-inline-block
                              mb-2
                              fw-normal
                              shadow
                            ">
                                    Well we have good budget for the project
                                </div>
                            </div>
                            <div class="
                            chat-time
                            d-inline-block
                            text-end
                            fs-2
                            font-weight-medium
                          ">
                                11:00 am
                            </div>
                        </li>
                        <!--chat Row -->
                        <li class="mt-4">
                            <div class="chat-img d-inline-block align-top">
                                <img src="../../assets/images/users/1.jpg"
                                     alt="user"
                                     class="rounded-circle" />
                            </div>
                            <div class="chat-content ps-3 d-inline-block">
                                <h5 class="text-muted fs-3 fw-normal">
                                    James Anderson
                                </h5>
                                <div class="
                              message
                              fs-3
                              bg-primary
                              text-white
                              d-inline-block
                              mb-2
                              fw-normal
                              shadow
                            ">
                                    Lorem Ipsum is simply dummy text of the printing &
                                    type setting industry.
                                </div>
                            </div>
                            <div class="
                            chat-time
                            d-inline-block
                            text-end
                            fs-2
                            font-weight-medium
                          ">
                                10:56 am
                            </div>
                        </li>
                        <!--chat Row -->
                        <li class="odd mt-4">
                            <div class="chat-content ps-3 d-inline-block text-end">
                                <div class="
                              message
                              fs-3
                              bg-light-inverse
                              d-inline-block
                              mb-2
                              font-weight-medium
                            ">
                                    Whats budget of the new project.
                                </div>
                                <br />
                            </div>
                            <div class="
                            chat-time
                            d-inline-block
                            text-end
                            fs-2
                            font-weight-medium
                          ">
                                10:59 am
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body border-top">
                <div class="row">
                    <div class="col-9">
                        <div class="input-field mt-0 mb-0">
                            <input type="text"
                                   id="textarea1"
                                   placeholder="Type and enter"
                                   class="form-control border-0" />
                        </div>
                    </div>
                    <div class="col-3 text-end">
                        <a class="btn-circle btn-lg btn-success btn text-white"
                           href="javascript:void(0)">
                            <i data-feather="send" class="feather-sm"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 *@    </div>
    
</section>

